Provides: postgresql-pgcrypto-openpgp
Section: database
Priority: optional
Maintainer: Per Lejontand <per.lejontand@trustly.com>
Homepage: https://github.com/johto/postgres/tree/pgcrypto_signatures
Description: Enhanced pgcrypto from the contrib part of PostgreSQL
 Extended from https://github.com/johto/postgres/tree/pgcrypto_signatures to
 include signature verification and signing
