#!/usr/bin/make -f

VERSION=1.2-1
PGMINORVERSION=$$(pg_config --version | sed 's/.* //')
PGVERSION=$$(echo "$(PGMINORVERSION)" | cut -f1-2 -d.)
PGMAJORVERSION=$$(echo "$(PGVERSION)" | cut -f1 -d.)
PACKAGE=postgresql-pgcrypto-openpgp-$(PGVERSION)
ROOT=$(PWD)
DEBIAN=$(ROOT)/debian/postgresql-pgcrypto-openpgp
PACKAGEDIR=$(ROOT)/$(PACKAGE)-$(VERSION)
BUILDDIR=$(ROOT)/$(PACKAGE)-$(VERSION)-build
CP=cp -p

build: clean
	if [ ! -f "$(DEBIAN)/control-$(PGVERSION)" ]; then \
		echo "No control for PostgreSQL $(PGVERSION)"; \
		exit 1; \
	fi
	mkdir -p "$(PACKAGEDIR)" \
		"$(PACKAGEDIR)/DEBIAN"
	mkdir -p "$(BUILDDIR)"
	(cd "$(BUILDDIR)"; apt-get source postgresql-contrib-$(PGVERSION))
	(cd "$(BUILDDIR)" ; \
		set -e; \
		cd */contrib/pgcrypto; \
		for file in $$(find $(DEBIAN)/patches/$(PGMINORVERSION) $(DEBIAN)/patches/$(PGVERSION) $(DEBIAN)/patches/$(PGMAJORVERSION) -name \*.patch | cut -c$$(echo "$(DEBIAN)" | wc -c)- | sort -t/ -k 4n); do \
			echo "PATCH $(DEBIAN)$$file"; \
			patch -t -p1 < "$(DEBIAN)$$file"; \
		done; \
		echo "Done patching"; \
		$(MAKE); \
		$(MAKE) DESTDIR=$(PACKAGEDIR) install; \
	)

install:

binary: build
	echo "Package: $(PACKAGE)" > "$(PACKAGEDIR)/DEBIAN/control"
	echo "Version: $(VERSION)" >> "$(PACKAGEDIR)/DEBIAN/control"
	echo "Architecture: $$(dpkg-architecture -qDEB_BUILD_ARCH)" >> "$(PACKAGEDIR)/DEBIAN/control"
	cat "$(DEBIAN)/control-$(PGVERSION)" >> "$(PACKAGEDIR)/DEBIAN/control"
	cat "$(DEBIAN)/control" >> "$(PACKAGEDIR)/DEBIAN/control"
	dpkg-deb -b "$(PACKAGEDIR)" "$(ROOT)"

clean:
	rm -rf "$(PACKAGEDIR)"
	rm -rf "$(BUILDDIR)"

.PHONY: build binary binary-arch binary-indep clean install configure
