Section: web
Priority: extra
Maintainer: Per Lejontand <per.lejontand@trustly.com>
Homepage: https://github.com/trustly/bankapi
Package: bankapi
Architecture: all
Depends: postgresql (>= 9.1), postgresql-client (>= 9.1), postgresql-contrib (>= 9.1), postgresql-pgcrypto-signatures, apache2 (>= 2.2), python2.7 (>= 2.7), python-psycopg2 (>= 2.4)
Description: Web API and database setup scripts for the bankapi backend.
