#!/usr/bin/make -f

VERSION=0.1-1
PACKAGE=bankapi
ROOT=$(PWD)
DEBIAN=$(ROOT)/debian/bankapi
PACKAGEDIR=$(ROOT)/$(PACKAGE)-$(VERSION)
CP=cp -p

build: clean
	mkdir -p "$(PACKAGEDIR)" \
		"$(PACKAGEDIR)/usr/share/bankapi" \
		"$(PACKAGEDIR)/etc/apache2/sites-available" \
		"$(PACKAGEDIR)/var/www/bankapi" \
		"$(PACKAGEDIR)/DEBIAN"
	cat "$(ROOT)/misc/extensions.sql" "$(ROOT)/misc/roles.sql" >> "$(PACKAGEDIR)/usr/share/bankapi/install.sql" 
	for file in "$(ROOT)"/TABLES/*.sql "$(ROOT)"/FK_CONSTRAINTS/*.sql "$(ROOT)"/FUNCTIONS/*.sql; do \
		echo "\\i $$file" >> "$(PACKAGEDIR)/usr/share/bankapi/install.sql"; \
	done
	cat "$(ROOT)/misc/pg_hba.sql" >> "$(PACKAGEDIR)/usr/share/bankapi/install.sql"
	$(CP) "$(ROOT)/etc/apache2/sites-available/010-bankapi.conf" "$(PACKAGEDIR)/etc/apache2/sites-available/010-bankapi.conf"
	$(CP) "$(ROOT)/cgi/api.py" "$(PACKAGEDIR)/var/www/bankapi/api.py"
	$(CP) "$(DEBIAN)/postinst" "$(PACKAGEDIR)/DEBIAN/postinst"
	$(CP) "$(DEBIAN)/postrm" "$(PACKAGEDIR)/DEBIAN/postrm"
	$(CP) -r "$(ROOT)/TABLES" "$(PACKAGEDIR)/usr/share/bankapi"
	$(CP) -r "$(ROOT)/FK_CONSTRAINTS" "$(PACKAGEDIR)/usr/share/bankapi"
	$(CP) -r "$(ROOT)/FUNCTIONS" "$(PACKAGEDIR)/usr/share/bankapi"
	$(CP) -r "$(ROOT)/testdata" "$(PACKAGEDIR)/usr/share/bankapi"

install:

binary: binary-indep binary-arch
	echo "Version: $(VERSION)" > "$(PACKAGEDIR)/DEBIAN/control"
	cat "$(DEBIAN)/control" >> "$(PACKAGEDIR)/DEBIAN/control"
	dpkg-deb -b "$(PACKAGEDIR)" "$(ROOT)"

clean:
	rm -rf "$(PACKAGEDIR)"

.PHONY: build binary binary-arch binary-indep clean install configure
