#!/usr/bin/make -f

VERSION=1.0-1
PACKAGE=bankapi
ROOT=$(PWD)
DEBIAN=$(ROOT)/debian/bankapi
PACKAGEDIR=$(ROOT)/$(PACKAGE)-$(VERSION)
CP=cp -p
APACHEVERSION=$$(/usr/sbin/apache2 -v | head -n1 | cut -f2 -d/ | cut -f1-2 -d.)

build: clean
	if [ ! -f /usr/sbin/apache2 ]; then \
		echo "You need to install apache2 in order to build bankapi"; \
		exit 1; \
	fi
	mkdir -p "$(PACKAGEDIR)" \
		"$(PACKAGEDIR)/usr/share/bankapi" \
		"$(PACKAGEDIR)/etc/apache2/sites-available" \
		"$(PACKAGEDIR)/var/www/bankapi" \
		"$(PACKAGEDIR)/usr/bin" \
		"$(PACKAGEDIR)/DEBIAN"
	$(CP) "$(ROOT)/install.sql" "$(PACKAGEDIR)/usr/share/bankapi/install.sql"
	cat "$(ROOT)/misc/roles.sql" >> "$(PACKAGEDIR)/usr/share/bankapi/install.sql"
	cat "$(ROOT)/misc/pg_hba.sql" >> "$(PACKAGEDIR)/usr/share/bankapi/install.sql"
	if [ $(APACHEVERSION) = '2.2' ]; then \
		$(CP) "$(ROOT)/etc/apache2/sites-available/010-bankapi.conf" "$(PACKAGEDIR)/etc/apache2/sites-available/010-bankapi"; \
	else \
		$(CP) "$(ROOT)/etc/apache2/sites-available/010-bankapi.conf" "$(PACKAGEDIR)/etc/apache2/sites-available/010-bankapi.conf"; \
	fi
	$(CP) "$(ROOT)/cgi/bankapi.py" "$(PACKAGEDIR)/var/www/bankapi/bankapi.py"
	$(CP) "$(ROOT)/bin/bankapi" "$(PACKAGEDIR)/usr/bin/bankapi"
	$(CP) "$(DEBIAN)/postinst" "$(PACKAGEDIR)/DEBIAN/postinst"
	$(CP) "$(DEBIAN)/postrm" "$(PACKAGEDIR)/DEBIAN/postrm"
	$(CP) -r "$(ROOT)/TABLES" "$(PACKAGEDIR)/usr/share/bankapi"
	$(CP) -r "$(ROOT)/FUNCTIONS" "$(PACKAGEDIR)/usr/share/bankapi"
	$(CP) -r "$(ROOT)/testdata" "$(PACKAGEDIR)/usr/share/bankapi"

install:

binary: binary-indep binary-arch
	echo "Version: $(VERSION)" > "$(PACKAGEDIR)/DEBIAN/control"
	cat "$(DEBIAN)/control" >> "$(PACKAGEDIR)/DEBIAN/control"
	if [ $(APACHEVERSION) = '2.2' ]; then \
		echo "/etc/apache2/sites-available/010-bankapi" > "$(PACKAGEDIR)/DEBIAN/conffiles"; \
	else \
		echo "/etc/apache2/sites-available/010-bankapi.conf" > "$(PACKAGEDIR)/DEBIAN/conffiles"; \
	fi 
	dpkg-deb -b "$(PACKAGEDIR)" "$(ROOT)"

clean:
	rm -rf "$(PACKAGEDIR)"

.PHONY: build binary binary-arch binary-indep clean install configure
