#!/usr/bin/make -f

VERSION=0.1-1
PACKAGE=bankapi
ROOT=$(PWD)
PACKAGEDIR=$(ROOT)/$(PACKAGE)-$(VERSION)
CP=cp -p

build:
	if [ -e "$(PACKAGEDIR)" ]; then \
		echo "$(PACKAGEDIR) exists, clean first"; \
	fi
	mkdir -p "$(PACKAGEDIR)" \
		"$(PACKAGEDIR)/usr/share/bankapi" \
		"$(PACKAGEDIR)/etc/apache2/sites-available" \
		"$(PACKAGEDIR)/var/www/bankapi" \
		"$(PACKAGEDIR)/DEBIAN"

install:

binary: binary-indep binary-arch
	echo "Version: $(VERSION)" > "$(PACKAGEDIR)/DEBIAN/control"
	cat "$(ROOT)/debian/bankapi/control" >> "$(PACKAGEDIR)/DEBIAN/control"
	dpkg-deb -b "$(PACKAGEDIR)"

# Build architecture - dependent files here .
binary-arch:
	/bin/true

# Build architecture - independent files here 
binary-indep:
	for file in "$(ROOT)"/TABLES/*.sql "$(ROOT)"/FUNCTIONS/*.sql; do \
		cat $$file >> "$(PACKAGEDIR)/usr/share/bankapi/install.sql"; \
	done
	for file in "$(ROOT)"/TESTBANK*.sql; do \
		cat $$file >> "$(PACKAGEDIR)/usr/share/bankapi/testdata.sql"; \
	done
	$(CP) "$(ROOT)/etc/apache2/sites-available/010-bankapi.conf" "$(PACKAGEDIR)/etc/apache2/sites-available/010-bankapi.conf"
	$(CP) "$(ROOT)/cgi/api.py" "$(PACKAGEDIR)/var/www/bankapi/api.py"
	$(CP) "$(ROOT)/debian/bankapi/postinst" "$(PACKAGEDIR)/DEBIAN/postinst"
	$(CP) "$(ROOT)/debian/bankapi/postrm" "$(PACKAGEDIR)/DEBIAN/postrm"

clean:
	rm -rf "$(PACKAGEDIR)"

.PHONY: build binary binary-arch binary-indep clean install configure
