Section: web
Priority: extra
Maintainer: Per Lejontand <per.lejontand@trustly.com>
Homepage: https://github.com/trustly/bankapi
Package: bankd
Architecture: any
Depends: postgresql-9.3 (>= 9.3), postgresql-client (>= 9.3), postgresql-contrib (>= 9.3)
Description: Web API and database setup scripts for the bankd backend.
